@model IEnumerable<InfotechVision.Models.News>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContentDetail.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsType)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-controller="News" asp-route-id="@item.NewsID">@Html.DisplayFor(modelitem => item.ContentDetail.Title)</a>
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.NewsDate)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.NewsType)
            </td>
        </tr>
}
    </tbody>
</table>
